@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #323b4f;
  font-family: 'Teko', sans-serif;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.btn {
  background-color: rgb(240, 192, 0) !important;
  border: 2px solid #323b4f !important;
  color: #f2e9e4 !important;
  text-shadow: 1px 1px 1px rgb(31, 29, 29);
}

.btn:hover {
  background-color: #323b4f !important;
  border: 2px solid rgb(240, 192, 0) !important;
  color: rgb(240, 192, 0) !important;
  text-shadow: 1px 1px 1px rgb(31, 29, 29);
}

.accent-font {
  color: rgb(240, 192, 0);
  text-shadow: 1px 1px 1px rgb(31, 29, 29);
}